.trainer-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
  
}

.trainer-form-container {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    height: 510px; 
    width: 200%; 
    margin: 0 auto;
    background-color: rgba(225, 219, 219, 0.938); 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    margin-left: 80px;
}



.trainer-transparent-box {
    display: flex;
    flex-direction: row;
    gap: 20px; 
    width: 100%;
}

.trainer-image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%; 
}

.trainer-image-section img {
    max-width: 100%; 
    height: auto;
    border-radius: 8px;
}

.trainer-form-section {
    width: 70%; 
}

.trainer-title {
    color: #2A3D71;
    text-align: left;
    font-size: 24px;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-btn,
.upload-btn {
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn {
    background-color: #2A3D71;
    color: white;
}

.upload-btn {
    background-color:  #2A3D71;
    color: white;
}

.submit-btn:hover {
    background-color: #1a253d;
}

.upload-btn:hover {
    background-color: #bbb;
}
